body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

main {
  background-image: url(https://i.pinimg.com/736x/a5/d7/93/a5d79353c1001dea348f279f88b8db6d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-bg {
  background-color: #3c3939;
  border-radius: 1rem;
  border: 2px solid #6f6e6e;
  height: 29rem;
  width: 17.14rem;
  box-shadow: 20px 10px 20px #54535379;
}

.resultado {
  height: 3rem;
  width: 15.14rem;
  font-weight: 100;
  margin-top: 10px;
  border-radius: 5px;
  color: rgb(243, 245, 247);
  background-color: #3c3939;
  padding: 1.25rem 1rem;
  font-size: 4rem;
  border: none;
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonsTop,
.buttonGroup {
  display: flex;
}

input {
  height: 4.5rem;
  width: 4.5rem;
  margin: 0.5px;
  font-size: 1.5rem;
  font-weight: lighter;
  background: #817777;
  border: none;
}

#suma,
#igual,
#resta,
#division,
#multiplicacion {
  background: #f0960f;
}

#clear {
  background: #605b5b;
}

#igual {
  border-radius: 0 0 0.8rem 0;
}

#cero {
  width: 13.7rem;
  border-radius: 0 0 0 0.8rem;
}
