body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

main {
  background-image: url(https://i.pinimg.com/736x/a5/d7/93/a5d79353c1001dea348f279f88b8db6d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-bg {
  background-color: #3c3939;
  border-radius: 1rem;
  border: 2px solid #6f6e6e;
  box-shadow: 20px 10px 20px #54535379;
}

.resultado {
  height: 3rem;
  width: 16.87rem;
  font-weight: bold;
  font-size: larger;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  color: rgb(243, 245, 247);
  background-color: #3c3939;
  padding: 20px 10px;
  font-size: 4rem;
  border: none;
  text-align: end;
}

.buttonsTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

button,
input {
  height: 4.5rem;
  width: 4.5rem;
  margin: 1px;
  font-size: 1.5rem;
  font-weight: lighter;
  background: #817777;
  border: none;
}

.buttonsTop input,
.buttonGroup input:nth-child(2) {
  margin-left: 0; /* Elimina el margen izquierdo de los primeros inputs de cada grupo */
}

.buttonGroup input:nth-child(2) {
  margin-right: 0; /* Elimina el margen derecho de los últimos inputs de cada grupo */
}

#cero {
  border-radius: 0 0 0 1rem;
}
#igual {
  border-radius: 0 0 1rem 0;
}

.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#suma,
#igual,
#resta,
#division,
#multiplicacion {
  background: #f0960f;
}

#clear {
  background: #605b5b;
}

#cero {
  width: 14rem;
}
